body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* main {
  background-image: url('https://i.gifer.com/Sk6w.gif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 150px;
}

.totoro {
  background-image: url('https://wallpaperaccess.com/full/156229.jpg');
  padding-bottom: 15px;
}

.padding {
  padding-top: 15px;
}

.name {
  padding-bottom: 15px;
} */