/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  #movie-card span {
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    border: 1px solid blue;
  }