/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  /* #movie-card span {
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    border: 1px solid blue;
  } */

  .MuiButton-root {
    background-color: green;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 7px 14px;
  }
  .MuiButton-root:hover {
    background-color: green;
  }
  .MuiButton-label {
    color: #fff;
  }